<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.shareby.core.dao.UserDao">


    <resultMap id="userResultMap" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="sex" property="sex"/>
        <result column="status" property="status"/>
        <result column="photo" property="photo"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <insert id="register" parameterType="User">

                INSERT INTO SHARE_USER (
                name,
                password,
                email)
                VALUES
                (
                #{name},
                #{password},
                #{email}
                )

        <selectKey resultType="long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>

    </insert>

    <select id="queryUser"   parameterType="String" resultType="User">
		select name,password,email,sex,status,photo,description,create_time,update_time
		from  SHARE_USER
		where  email=#{email}
	</select>

    <update id="activate" parameterType="Long">
        update SHARE_USER SET
        status = 'activated'
        where id = #{id} and status ='noactivate'
    </update>

    <update id="resetPassword" parameterType="Map">
		UPDATE SNC_USER SET
		password=#{password},modified_time=SYSDATE()
		WHERE id = #{userId}
	</update>



</mapper>
